html, body {
    position: relative;
    height: 100%;
    background-color: #f6f6f6;
}

div#sidePanel {
    position: absolute;
    top: 0;
    width: 17%;
    left: 0;
    background-color:#f6f6f6;
    height: 104%;
}

#logo {
    display: block;
    width: 100%;
    height: 160px;
}

#page-base {
    height:2em;
    background-image: linear-gradient(
    #ffffff 0%,
    #f6f6f6 100%);
    background-color: #ffffff;
}

#mainpage {
    border:1px solid #cef2e0; 	
    padding:1em;
    background:#f5fffa;
    float:bottom;
    color:#000;
    position: relative;
}

#mainpage_h2 {
	background:#cef2e0;
	font-family:inherit; 
	font-size:200%; 
	font-weight:bold; 
	border:1px solid #a3bfb1; 
	color:#000; 
	padding:0.2em 0.2em;
    margin-bottom: 1em;
}

#subpage {
    position:relative; 
    width:81%; 
    left: 17%; 
    height: 100%;
    border:1px solid #cef2e0; 	
    padding:0; 
    background-color:#f9f9f9; 
    vertical-align:top; 
    color:#000;
    height:78%;
}

#subpage_h2 {
	margin:0.5em; 
	background:#cef2e0; 
	font-family:inherit; 
	font-size:200%; 
	font-weight:bold; 
	border:1px solid #a3bfb1; 
	color:#000; 
	padding:0.2em 0.4em;
}

#topBanner {
	position:relative; 
	width:81%; 
	margin:0.5em 0 6px; 
	min-width:47em; 
	left: 17%;
	top:-3%;
	border:1px solid #ddd; 
	background-color:#f9f9f9; 
	color:#000; 
	white-space:nowrap;
}

#topBannerOverview {
	position:relative; 
	width:81%; 
	margin:0.5em 0 6px; 
	min-width:47em; 
	left: 17%;
	top:-3%;
	border:1px solid #ddd; 
	background-color:#f9f9f9; 
	color:#000; 
	white-space:nowrap;
	margin-top:-1.1%;
}

#articleTextHeading {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight:normal;
    font-size:160%;
    width: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #a2a9b1;
}

#articleText {
    font-family: sans-serif;
    line-height: 1.5em;
    font-weight:normal;
    font-size:100%;
    width: 100%;
    display: inline-block;
    position: relative;
}

#sourceText {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight:normal;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    margin-top: 0em;
    margin-bottom: 2em;
}

#articleCanvas {
	position:relative; 
	width:83%; 
	min-width:47em; 
	left: 17%;
	top:0%;
	border: 1px solid #a7d7f9;
	color:#000; 
	padding: 1em;
    overflow:auto;
    background-color:white;
}

artHead {
	font-family:inherit; 
	font-size:120%;
	font-weight:bold;
	color:#a3bfb1;   
}

#logo {
  text-align:center;
	display: block;
}

#logoImg {
	height: 7.8em;
	display: block;

    background-image: linear-gradient(
    #ffffff 35%,
    #f6f6f6 65px);
    background-color: transparent;
}

#imageLogo {
	padding: 1em 1em;
}

#logoText1 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
	font-weight: light;
	font-size:110%;
	color: black;
}

#logoText2 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
	font-weight: light;
	font-size:90%;
	color: black;
}

/*content*/

#article-heading1	{
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;"
}

#navigation ul {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navigation li a{
    font-family: sans-serif;
    font-weight:normal;
    display: inline-block;
    color: #000;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size:2em;
    color: #0A2F9D;
    cursor: pointer;
}

#navigation {
    border-top: solid 1px lightgrey;
	list-style-type: none;
    width:80%;
    padding:0em;
    margin-left:10%;
    margin-right:10%;
    margin-top:6.5em;
}

#navigation2 navText{
	font-family: 'Linux Libertine','Georgia','Times',serif;
	font-weight:bold;
	list-style-type: none;
	padding: 0em;
    font-family: sans-serif;
    font-size: 1.5em;
}


#navigation2 ul {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


#navigation2 li a{
    font-family: sans-serif;
    font-weight:normal;
    display: block;
    padding-top: 2px;
    margin:0;
    color: #0A2F9D;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1em;
    padding-top:1em;
}

#navigation2 {
    list-style-type: none;
    background-color: #F6F6F6;
    width:100%;
    margin: 0em;
    padding: 0em;
    padding-left:10%;
}

#navigation2Text {
    margin-top: 1.5em;
}

#subHeading {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-size: 0.875em;
    margin-left:0.2em;
}

#firstHeading {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight:normal;
    font-size: 4em;
    width: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #a2a9b1;
    margin-bottom:0em;
}

#infobox {
    margin-top:3em;
    font-family: sans-serif;
    font-weight:normal;
    border:1px solid #ddd; 
    border-spacing: 3px;
    background-color: #f8f9fa;
    border: 1px solid gray;
    width:100%;
    min-width: 35%;
    padding-bottom:6em;
}

#infobox h2 {
    font-family: sans-serif;
    font-size:3em;
    font-weight:normal;
    margin-left:5%;
}

#anthem {
    font-size:1.5em;
    width: 90%;
    margin-top: 1em;
    padding-top:1em;
    border-top: 1px solid #a2a9b1;
    margin-left:5%;
}

#audio {
    margin: 0 0 0 5%;
    width: 85%;
    height:40px;
}

#flag {
    margin-top: 1em;
    margin-left:5%;
    font-size:1.5em;
}

#innerFlag {
    margin-top:1em;
    margin-left:5%;
    width: 90%
}

#countries {
    font-family: sans-serif;
    font-weight:normal;
    display: inline-block;
    position: relative;
    margin-left:0.2em; 
    margin-top:0em; 
}

#countries h3{
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight:normal;
    font-size:3em;
    display: inline-block;
    position: relative;
    margin-top:0.5em; 
}

#country {
    font-family: sans-serif;
    font-weight:normal;
    position: relative;
    margin-left:-1.4em; 
    margin-top:0em; 
}

#country li{
    padding-top:1em;
    font-size:2em;
}

#abstracts {
    font-family: sans-serif;
    font-weight:normal;
    font-size:2em;
    line-height: 1.5em;
    margin-top:2em;
}

#plainText {
    margin-top:3em;
    font-family: sans-serif;
    font-weight:normal;
    float:left;
    width:100%;
    line-height: 1.5em;
    font-size: 2em;
}

.wordWrapArticleText {
    word-break: break-word;
}

